In [1]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [2]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
display(df)
display(df.mean(axis=1))#mean for each row
df = df.sub(df.mean(axis=1), axis=0)
display(df)

          0         1         2
0  0.965972  0.452096  0.468225
1  0.687632  0.570195  0.293744
2  0.774822  0.156885  0.127337
3  0.085311  0.058155  0.698737
4  0.214856  0.505314  0.343838

0    0.628764
1    0.517190
2    0.353015
3    0.280734
4    0.354669
dtype: float64

          0         1         2
0  0.337208 -0.176668 -0.160539
1  0.170442  0.053005 -0.223447
2  0.421807 -0.196130 -0.225677
3 -0.195424 -0.222579  0.418003
4 -0.139813  0.150645 -0.010831

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
display(df)
df.sum().idxmin() #idxmin = Return index of first occurrence of minimum over requested axis.